<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="FederationLib Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- php.ini configuration -->
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="1026M" />

        <!-- Tests configuration -->
        <env name="SERVER_ENDPOINT" value="http://172.17.0.1:7000"/>
        <env name="SERVER_ACCESS_TOKEN" value="abcdefghijklmnopqrstuvwxyz123456"/>

        <!-- LogLib2 configuration -->
        <env name="LOG_LEVEL" value="debug"/>
        <env name="LOGLIB_UDP_ENABLED" value="true"/>
        <env name="LOGLIB_UDP_HOST" value="127.0.0.1"/>
        <env name="LOGLIB_UDP_PORT" value="5000"/>
        <env name="LOGLIB_UDP_TRACE_FORMAT" value="full"/>
        <env name="FL_TEST" value="true"/>
    </php>
</phpunit>
