<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="FederationLib Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="LOG_LEVEL" value="debug"/>
        <env name="SERVER_ENDPOINT" value="http://127.0.0.1:8500"/>
        <env name="SERVER_API_KEY" value="abcdefghijklmnopqrstuvwxyz123456"/>
    </php>
</phpunit>
